<div class="wrapper">
  <h3>See what your fellow Leafers are up to</h3>

  <% @leafers.each do |leafer| %>
  <div class="leafer">
  <img src="<%= leafer[:reader_image] %>" />
  <%= leafer[:reader_info] %>
    <p>Subscribes to:
    <% leafer[:publications].each do |publication| %>
      <%= publication.name %>,
    <% end %>
    </p>

    <p>
    <% if leafer[:shared_articles] != nil %>
      <% leafer[:shared_articles].each do |shared_article| %>
        <%= shared_article.title %>
    </p>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
