<script>
  $(document).ready(function() {
    $('.loader').addClass('active');
    twitterFeed();
  });
</script>

<div class="notify"></div>

<ul class="tabs">
  <li class="twitter">Twitter</li>

  <a href="" class="refresh"><i class="fa fa-refresh"></i></a>
</ul>

<div class="twitter feed">
  <h2>Social feed <i class="fa fa-refresh"></i></h2>

  <% if current_reader.twitter_handle == nil %>
    <p><a href="/profile">Add Twitter handle</a> to get updates.</p>
  <% else %>
    <div class="content"></div>
  <% end %>

  <div class="no-content">
    <img src="assets/loader2.gif" alt="" class='loader' />
    <p class='error'></p>
  </div>
</div>
