<div class="dialog profile">
  <div class="close">
    <i class="fa fa-times"></i>
  </div>
  
  <%= render 'layouts/message' %>

  <%= render 'readers/rss_subscription' %>

  <%= render 'readers/social_accounts' %>

  <%#= render 'readers/profile_edit' %>

</div>

<div class="overlay"></div>
