<section class="rss edit">
  <h3>Customize your RSS feed</h3>
  
  <p>Choose a category to view publications. Click on <i class="fa fa-plus"></i> to add and <i class="fa fa-times"></i> to remove publication in your subscriptions.</p>

  <div class="categories-wrapper">
    <h4>All categories</h4>
    <ul class="categories"></ul>
  </div>

  <div class="publications">
    <h4>Publications</h4>
    <div></div>
  </div>


  <div class="current-sub">
    <h4>Your subscriptions</h4>
    <ul></ul>

    <button id='update-sub'>Update subscriptions</button>
  </div>

</section>

<script>
$(document).ready(function() {
  var subscriptions = new Subscriptions();
});
</script>
