<%= flash[:notice] %>

  <section class="social edit">
    <h3>Social profiles</h3>
    <p>
      Connect with Twitter to get articles shared by your network.
    </p>
    <p>
      Connect with Pocket to access your bookmarks offline.
    </p>
    <% if current_reader %>
      <% if current_reader.twitter_token %>
        <a href='' class="disconnect" data-service="twitter">
          <i class="fa fa-twitter"></i>
          Disconnect from Twitter
        </a>
      <% else %>
        <a href="/auth/twitter">
          <i class="fa fa-twitter"></i>
          Connect with Twitter
        </a>
      <% end %>

      <% if current_reader.pocket_token %>
        <a href='' class="disconnect" data-service="pocket">
          <i class="fa fa-book"></i>
          Disconnect from Pocket
        </a>
      <% else %>
        <a href="/auth/pocket">
          <i class="fa fa-book"></i>
          Connect with Pocket
        </a>
      <% end %>
    <% end %>
  </section>

<script type="text/javascript">
  var session = new Session();
</script>
