<div class="wrapper customize">
  <%= render 'layouts/message' %>

  <ul class="tabs">
    <li class="rss">RSS subscriptions</li>
    <li class="social">Social accounts</li>
  </ul>

  <%= render 'readers/rss_subscription' %>

  <%= render 'readers/social_accounts' %>

</div>
