# def edit
# end


# <h2>Edit a user</h2>


# <form action="/users/<%= @user.id %>" method='post'>
#   <input type="hidden" name="_method" value="put">
#   <%= token_tag %>
#   <input type="text" name='user[username]' value='<%= @user.username %>'>
#   <input type="submit">
# </form>
