<script>
  $(document).ready(function() {
    $('.notice').css({'position': 'absolute', 'top': '75px'}).hide();
    loadRssFeeds();
    twitterFeed();
  })
</script>

<div class="notice"></div>

<div class="rss feed" >
  <h2>RSS feed</h2>
</div>


<div class="twitter feed">
  <h2>Social feed</h2>
  <% if current_reader.twitter_token == nil %>
    <a href='/profile'><b>Connect your Twitter account</b></a> to get updates.
  <% else %>
    <img src="assets/loader2.gif" alt="" id='loader' />
  <% end %>
</div>
