<script>
  $(document).ready(function() {
    $('.notice').css({'position': 'absolute', 'top': '75px'}).hide();
    loadRssFeeds();
    twitterFeed();
  })
</script>

<div class="notice"></div>
<div class="hide">
  <img src="assets/loader2.gif" alt="" id='loader'/>
</div>

<div class="rss feed" >
  <h2>RSS feed <i class="fa fa-refresh"></i></h2>

  <div class="content">
    <img src="assets/loader2.gif" alt="" id='loader' />
  </div>
</div>


<div class="twitter feed">
  <h2>Social feed <i class="fa fa-refresh"></i></h2>

  <div class="content">
  <% if current_reader.twitter_token == nil %>
    <p class='no-twitter'>
      <a href='/profile'><b>Connect your Twitter account</b></a> to get updates.
    </p>
  <% else %>
    <img src="assets/loader2.gif" alt="" id='loader' />
  <% end %>
  </div>
</div>
