<script>
  $(window).load(function() {
    rssFeed();
    twitterFeed();
  })
  $(document).on('page:load', function() {   
    rssFeed();
    twitterFeed();
    noArticle();       
  })
</script>

<div class="frontpage">
  <h2>RSS feed</h2>
  <div class="rss feed" >
    <% @feeds.each do |feed| %>
      <div data-feed="<%= feed %>"></div>
    <% end %>
  </div>

  <h2>Social feed</h2>
  <div class="twitter feed"></div>
</div>
