<div class="wrapper profile">
  <ul class='nav'>
    <li>
      <a href="#rss">RSS subscriptions</a>
    </li>
    <li>
      <a href="#social">Social accounts</a>
    </li>
    <li>
      <a href="#edit">Edit profile</a>
    </li>
  </ul>

  <%= render 'layouts/message' %>

  <%= render 'rss_subs' %>

  <%= render 'social_accounts' %>

  <%= render 'profile_edit' %>
</div>
