<%= render 'layouts/message' %>

<div class="wrapper account">
  <%= render 'readers/social_accounts' %>
</div>

<script type="text/javascript">
  $('#update-profile').click(updateProfile);
</script>
