<div class="wrapper">
  <div class="notify"></div>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <div class="subscription">
    <h3>Customize your news subscriptions</h3>
    <p>Choose a category to view publications. Drag and drop or click on the <i class="fa fa-times"></i> to add publication to Your Subscriptions.</p>

    <div class="categories"></div>

    <div class="current-sub">
      <h4>Your subscriptions:</h4>
      <ul></ul>

      <button id='update-sub'>Update subscriptions</button>
    </div>

    <div class="publications">
      <h4>Publications in this category:</h4>
      <div></div>
    </div>

  </div>  <!-- subscription -->

<script>
  // Style categories into columns
  $('.subscription label:nth-child(3n+1)').append($('<br/>'));
</script>

</div>
