<ul class='how-it-works'>
  <li>
    Sign up for an account.
  </li>  
  <li>
    Choose RSS feeds to follow and connect to your Facebook/Twitter accounts.
  </li>  
  <li>
    New articles are shown in <b><i class="fa fa-list-ul"></i>&nbsp;News Feed</b>. You can bookmark or discard them.
  </li>  
  <li>
    Articles you have bookmarked can be read at <b><i class="fa fa-bookmark"></i>&nbsp;Bookmarks</b>.
  </li>
</ul>