<div class="wrapper">
  <p class='center spaced'>
    Scrambling to find relevant news in the morning?<br/>
    Want to know what your friends are reading during the day?<br/>
    Need to win that argument with your family in the evening?
  </p>

  <h3>Leafthru: <small>A personalised news aggregator for busy people with style and brains</small></h3>

  <p class='spaced'>Leafthru brings together your favorite news through your favorite Social Media channels, Twitter and Facebook, so that you can stay up to date and ahead of the game, any time of the day.</p>


  <p><small>Developed by <a href="http://nessanguyen.com">Nessa Nguyen</a>, Paul Gasbarra &amp; Rebecca Strong | <a href="https://github.com/myfashionhub/leafthru">Github</a>.</small></p>

  <h3>How it works:</h3>
  <%= render 'how_it_works' %>

</div>
