<h2>Leafthru : <h2>

<h3>A personalised news aggregator for the busy person with style and brains.<h3>


<p>Overcoming the problem of scrambling to find relevant news from a vast array of sources or from the multitude of headlines within a single site (eg. The Huffington Post), Leafthru permits readers the opportunity to tailor their news intake according to their specific interests, saving time and eliminating the frustration of a lengthy search. </p>

<p>News readers have strong opinions and like to share them. In addition to offering select stories directly from the media source, Leafthru offers an essential social component: Through its Twitter interface, readers can see which stories their friends are following and share comments on the Leafthru site.</p>

<p>Nobody gets to choose their family members. And which news reader hasn’t had a heated discussion at Thanksgiving with a relative from an opposing end of the political spectrum? Leafthru’s capabilities are perfectly suited to help its readers digest which perspectives they may want to acknowledge from a broad array of news sources that other algorithms would otherwise exclude them from. Leafthru allows readers to win tomorrow’s argument today! And everyone loves a winner.
</p>
