<div class="wrapper">
  <h3>Leafthru:<br/>
    <small>A personalised news aggregator for the busy person with style and brains.</small></h4>

  <p>Scrambling to find relevant news in the morning?</p>

  <p>Want to know what your friends are reading during the day?</p>

  <p>Need to win that argument with your family in the evening?</p>

  <p>Leafthru brings together your favorite news through your favorite Social Media channels, Twitter and Facebook, so that you can stay up to date and ahead of the game, any time of the day.</p>


  <p>Developed by <a href="http://nessanguyen.com">Nessa Nguyen</a>, Paul Gasbarra &amp; Rebecca Strong.</p>
</div>
