<div class="wrapper">
  <h3>Leafthru: <small>A personalised news aggregator for busy people with style and brains</small></h3>

  <p class='center'>Scrambling to find relevant news in the morning?<br/>
  Want to know what your friends are reading during the day?<br/>
  Need to win that argument with your family in the evening?</p>

  <p>Leafthru brings together your favorite news through your favorite Social Media channels, Twitter and Facebook, so that you can stay up to date and ahead of the game, any time of the day.</p>


  <p><small>Developed by <a href="http://nessanguyen.com">Nessa Nguyen</a>, Paul Gasbarra &amp; Rebecca Strong | <a href="https://github.com/myfashionhub/leafthru">Github</a>.</small></p>

  <h3>How it works:</h3>
  <ul>
    <li>
      Sign up for an account.
    </li>

    <li>
      Update your subscriptions and connect your account to Facebook/Twitter on the My Profile page.
    </li>

    <li>
      View articles under <b><i class="fa fa-list-ul"></i>&nbsp;News Feed</b>. You can bookmark or discard them.
    </li>

    <li>
      Articles you have bookmarked are under <b><i class="fa fa-bookmark"></i>&nbsp;Bookmarks</b>.
    </li>
  </ul>

</div>
