<ul id="nav">
<li>Leafthru</li>
<li>Local Time: <%= Time.now %></br>Date</li>
<li>Temperature</br>
72 degrees</li>
<li>Hi, <%= Reader.name %></li>
<li><a href="/profile">Edit My Profile</a></li>
</ul>


<ul>
<li><a href="/signup">Sign up</li>
<li><a href="/login">Log in</a></li>
<li><a href="/logout">Log out</a></li>
<li><a href="/auth/facebook">Link your Facebook account</a></li>
<li><a href="/auth/twitter">Link your Twitter account</a></li>
</ul>

<h2><a href="/feed">Your News Feed</a></h2>

<div class = "frontpage"></div>
