<ul id="nav">
<li>Leafthru</li>

<li><%= formatted_date_time(Time.now) %></br>
Temperature: 72 degrees</br>
</li>
<li>Hi, <%= Reader.name %></br>
  I'm Feeling...</li>
<a href="/profile">Menu</a></br>
</li>
</ul>




<ul id ="menu">
<!-- <li><a href="/signup">Sign up</li>
<li><a href="/login">Log in</a></li> -->
<li><a href="/logout">Log out</a></li>
<li><a href="/saved">Read Later</a></li>
<li><a href="/auth/facebook">Link your Facebook account</a></li>
<li><a href="/auth/twitter">Link your Twitter account</a></li>
</ul>





<h2><a href="/feed">Your News Feed</a></h2>

<div class = "frontpage"></div>
