<h2>Hello Leafers</h2>
<p>
  The time is now: <%= Time.now %>
</p>


<p>temperature</p>
<p>branding</p>


<h3><a href="/feed">News feed!</a></h3>


<p><a href="/signup">Sign up</a> <br/>
<a href="/login">Log in</a> <br/>
<a href="/logout">Log out</a> <br/>
<a href="/profile">Profile</a> <br/>(Reader can edit profile/interests after logging in) <br/>

<a href="/auth/facebook">Link your Facebook account</a> <br/>
<a href="/auth/twitter">Link your Twitter account</a>
</p>

<div class = "frontpage"></div>
