/*
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body {
  overflow: auto;
  margin: 0;
  color: #444;
  font-family: 'Helvetica';
  background-color: #f5f5f5;
  min-height: 100%;  
}

h1, h2, h3 {
  font-family: ''
}

/* NAV DROP DOWN */

#arrow {
  cursor: pointer;
}

.menu {
  width: 100%;
  background-color: #D0E0EB;
  overflow: auto;
  color: #444;
  padding: 10px;
  > div {
    float: left;
  }
  .logo {
    width: 35%;
  }
  .location {
    width: 27%;
  }
  .profile {
    width: 23%;
    span, img {
      display: inline-block; 
      vertical-align: middle;
    }
    img {
      width: 40px;
    }
  }
  #arrow {
    width: 100px;
    margin: 12px 3% 0 0;
    float: right;
    text-align: right;
  }
}

.nav {
  width: 150px;
  position: absolute;
  right: 10px;
  z-index: 1;
  padding: 0px;
  margin-top: 45px;
  text-align: right;
  color: #fff;
  background-color: rgba(73, 112, 138, .8);
}


.nav li {
  display: block;
  line-height: 2em;
  padding: 10px;
  a {
  display: block;
  color: #fff;
  text-decoration: none;
  }
}

.nav li:hover {
  background-color: rgba(73, 112, 138, 1);
}

a:hover {
  color: limegreen;
}

.checkbox_container{
  background-color: blue;
}

.frontpage {
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.article {
  width: 100%;
  margin: 10px;
}

