/*
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body {
  overflow: auto;
  margin: 0;
  color: #444;
  font-family: 'Helvetica';
  background-color: #f5f5f5;
  min-height: 100%;
}

$light-blue : #D0E0EB;
$medium-blue: #88ABC2;
$medium-blue2: #7a99ae;
$dark-blue  : #5687a8;
$brown      : #D1802E;

h1, h2, h3, h4 {
  font-family: 'Hammersmith One';
}

.wrapper {
  width: 90%;
  max-width: 800px;
  margin: 20px auto 30px auto;
  overflow: hidden;
  h3 {
    text-align: left;
    font-size: 24px;
    margin-bottom: .5em;
  }
  @media (max-width: 600px) {
    width: 95%;
    margin: 0 2.5%;
  }

  /* About page */
  ul {
    line-height: 2em;
  }
  .center {
    text-align: center;
    line-height: 1.7em;
  }
}

a {
  text-decoration: none;
  color: #5687a8;
}
a:hover {
  color: limegreen;
}



/* NOTICE MESSAGE */
.notice, .alert {
  width: 96%;
  margin: 20px 0;
  padding: 10px 0 10px 20px;

  border-radius: 3px;
}

.notice {
  background-color: rgba(173,216,230, 0.3);
  border: 1px solid rgba(173,216,230, 0.6);
}

.alert {
  background-color: rgba(253,201,122, 0.4);
  border: 1px solid rgba(253,201,122, 0.7);
}
