/*
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
}

.frontpage {
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.article {
  width: 100%;
  margin: 10px;
}

.save_article {
  width: 1000px;
}
