/*
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 */

body {
  overflow: auto;
  margin: 0;
  color: #444;
  font-family: 'Helvetica';
}

.frontpage {
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.article {
  width: 100%;
  margin: 10px;
}

