/* SAVED ARTICLES */
@import 'main';

.saved-article {
  margin-bottom: 1em;
  > a {
    font-family: $title-font;
    font-size: 1.2em;
    text-decoration: none;
    color: $brown;
  }
  a:hover {
    text-decoration: none;
    color: $dark-blue;
  }
  .extract {
    margin: .6em 0;
  }
  .source {
    display: inline-block;
    margin: 3px 0 0 0;
  }
  button {
    float: right;
  }
}

/* .delete has same style as .save-article, .discard-article */


/* BOOKMARKS */
.leafer {
  margin-top: 1.5em;
  border: 1px solid #ccc;
  padding: 8px;
  background-color: rgba(255,255,255, 0.7);
  img {
    height: 50px;
    width: 50px;
    float: left;
    margin: 0 15px 10px 0;
  }
  h4 {
    margin: 0.5em 0;
    font-size: 1.3em;
    color: $brown;
  }
  p {
    margin: 7px 0 0 0;
  }
}
