@import 'main';

/* Elements */
body {
  overflow: auto;
  margin: 0;
  min-height: 100%;
}

body, html {
  width: 100%;
  height: 100%;
}

body, html, div {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: $title-font;
}

a {
  text-decoration: none;
  outline: none; /* Fix for Chrome */
  color: $dark-blue;
  &:hover {
    color: limegreen;
    text-decoration: none;    
  }
}

button, input {
  outline: none;
}

ul {
  line-height: 1.7em;
}

input {
  padding: 3px 8px;
  border: 1px solid transparent;
  background-color: #fff; 
}

/* Styling classes */
.spaced {
  line-height: 1.7em;
}
.center {
  text-align: center;
}


/* State class */
.hide {
  display: none !important;
}


/* MAIN LAYOUT */
body {
  background-color: $body-gray;
  color: $text-gray;
  font-family: $body-font;
  font-size: 16px;
}

.wrapper {
  width: 90%;
  max-width: 800px;
  margin: 20px auto 30px auto;
  overflow: hidden;
  h3 {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: .5em;
  }
}

/* MOBILE STYLE */
@media (max-width: 600px) {
  body {
    font-size: 13px;
  }
}
