@import 'main';

.customize {
  .tabs {
    display: block;
  }
  section {
    display: none;
    &.active {
      display: block;
    }
  }
}

#update-profile {
  background-color: $dark-blue;
  border: 0;
  font-size: 1em;
  font-family: 'Hammersmith One';
  color: #fff;
  &:hover {
    background-color: $lime-green;
    cursor: pointer;
  }
  @include button-style;
}

#update-profile { /* positioning */
  margin: .5em 0;
  float: right;
}

.account.edit,
.social.edit {
  overflow: hidden; /* Clear float children */
  width: 70%;
  margin: 0 auto;
}

.social.edit {
  a,
  button {
    color: $dark-blue;
    width: 14em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    display: block;
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 3px;
    margin: 10px auto;
  }

  button {
    border: none;
  }

  a:hover,
  button:hover {
    background-color: limegreen;
    color: #fff;
    cursor: pointer;
  }
}

.account.edit {
  form {
    @include form-style(7em);
    padding-left: 25px;
    input {
      width: 17em;
      margin: 3px 0;
      color: #666;
      &:hover, &:active, &:focus {
        color: #333;
        border: 1px inset #e0e0e0;
      }
    }
  }
}

.social.edit,
.account.edit {
  @media (max-width: 600px) {
    margin: 0 auto;
    float: none;
  }
}
