@import 'main';

.customize {
  .tabs {
    display: block;
  }
  section {
    display: none;
    &.active {
      display: block;
    }
  }
}

/* RSS subscription tab */
.rss.edit {
  width: 100%;
  margin: 0 0 1em 0;
  line-height: 1.7em;
  overflow: auto;

  input[type='submit']:focus {
    border: 0;
  }
  
  ul {
    list-style-type: none;
  }

  h4 { font-size: 1.2em; }
}

.categories-wrapper,
.current-sub,
.publications {
  width: 30%;
  float: left;
  h4 {
    margin: 0;
    color: #444;
    text-align: center;
  }
  ul {
    margin: .2em 0 2em 0;
  }
}

.current-sub {
  ul {
    min-height: 210px;
  }
  .fa-times {
    margin: 0 0 0 .3em;
    @include hover;
  }
}

.publications {
  margin-right: 3%;  
  .ui-draggable {
    @include hover;
  }
  i {
    margin-left: .5em;
  }
}


.categories-wrapper {
  margin-right: 3%;  
}
.categories { /* Category list */
  width: 100%;
  overflow: auto;
  margin: 0 auto 1.6em auto;

  .category {
    h4 {
      text-align: left;
      color: $medium-blue2;
      font-size: 1.1em;
      margin: 0;
      &:hover, &.current {
        cursor: pointer;
        color: $lime-green;
      }
    }
  }
}



#update-sub {
  margin: .5em auto;
}

#update-sub, #update-profile {
  background-color: $dark-blue;
  border: 0;
  font-size: 1em;
  font-family: 'Hammersmith One';
  color: #fff;
  &:hover {
    background-color: $lime-green;
    cursor: pointer;
  }
  @include button-style;
}

#update-profile { /* positioning */
  margin: .5em 0;
  float: right;
}

.account.edit,
.social.edit {
  overflow: hidden; /* Clear float children */
  width: 70%;
  margin: 0 auto;
}

.social.edit {
  a {
    color: $dark-blue;
    width: 14em;
    text-align: center;
    font-weight: bold;
    display: block;
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 3px;
    margin: 10px auto;
  }

  a:hover {
    background-color: limegreen;
    color: #fff;
  }
}

.account.edit {
  form {
    @include form-style(7em);
    padding-left: 25px;
    input {
      width: 17em;
      margin: 3px 0;
      color: #666;
      &:hover, &:active, &:focus {
        color: #333;
        border: 1px inset #e0e0e0;
      }      
    }
  }
}

.social.edit, .account.edit {
  @media (max-width: 600px) {
    margin: 0 auto;
    float: none;
  }
}
