/* FEED */

.twitter, .rss {
  width: 45%;
  float: left;
  margin: 20px 3% 30px 2%;
}

.rss {
  a {
    color: limegreen;
  }
  a:hover {
    color: #5687a8;
  }
}

.twitter {
  a {
    color: #5687a8;
    text-decoration: none;
  }
  #loader {
    width: 120px;
    display: block;
    margin: 10px auto;
  }
}

.rss h3, .twitter h3 {
  font-size: 20px;
  a {
    text-decoration: none;
  }
}

.article {
  margin-bottom: 2em;
  h3 {
    margin: 0;
    text-align: left;
  }

  p {
    margin: .5em 0;
  }
}

.save-article, .discard-article,
.delete {
  font-size: 18px;
  font-family: 'Hammersmith One';
  background-color: transparent;
  border: 0;
  color: #555;
}

.save-article:hover,
.discard-article:hover,
.delete:hover {
  color: #666;
  cursor: pointer;
}
