@import 'main';

/* FEED */
div.feed {
  h3 {
    font-size: 1.3em;
  }

  a {
    text-decoration: none;
  }

  .fa-refresh {
    color: $dark-blue;
    &:hover {
      cursor: pointer;
    }
  }
}

div.feed {
  width: 48%;
  float: left;
  margin: 20px 0 30px 2%;

  &.rss {
    a {
      @include link-colors(limegreen,#5687a8);
    }
  } 

  &.twitter {
    a {
      color: #5687a8;
      text-decoration: none;
      &:hover {
        color: $lime-green;
      }
    }
  }
  .content {
    height: 80vh;
    overflow: auto;
    padding-right: 5px;
  }
}

.no-twitter, .no-rss, .loader, .error {
  @extend %active-display;
}

.loader {
  width: 120px;
  margin: 10px auto;
}

.article {
  margin-bottom: 2em;
  h3 {
    margin: 0;
    text-align: left;
  }

  p {
    margin: .5em 0;
  }

  .extract img {
    max-width: 90%;
    height: auto;
  }
}

.save-article, .discard-article,
.delete {
  font-size: 1.1em;
  font-family: 'Hammersmith One';
  background-color: transparent;
  border: 0;
  color: #555;
}

.save-article:hover,
.discard-article:hover,
.delete:hover {
  color: #666;
  cursor: pointer;
}

.tabs {
  display: none;
}

/* MOBILE STYLES */
@media (max-width: 600px) {
  .tabs {
    display: block;
  }
  .feed {
    display: none;
    width: 100%;
    &.active {
      display: block;
    }

    h2 {
      display: none;
    }
    .article {
      margin-bottom: 1em;
      font-size: 12px;
    }
  }
}

@media (max-width: 600px) {
  .tabs {
    list-style: none;
    margin-bottom: 0;
    padding-left: 1em;
    li {
      display: inline-block;
      padding: 0 .6em;
      margin-right: 8px;
      border-bottom: 1px solid $text-gray;
      &.active {
        border-bottom: 2px solid $text-gray;
      }
    }
  }
}
