$light-blue : #D0E0EB;
$medium-blue: #88ABC2;
$medium-blue2: #7a99ae;
$dark-blue  : #5687a8;
$brown      : #D1802E;
$lime-green : #32CD32;

@mixin button-style {
  padding: 5px 8px;
  border-radius: 4px;
}

@mixin hover {
  &:hover {
    cursor: pointer;
  }
}

@mixin top-right($top,$right) {
  position: absolute;
  top: $top;
  right: $right;
}

@mixin top-left($top,$left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin form-style($label-width) {
  label {
    width: $label-width;
    display: inline-block;
  }
}

%spaced {
  line-height: 1.7em;
}