
$light-blue : #D0E0EB;
$medium-blue: #88ABC2;
$medium-blue2: #7a99ae;
$dark-blue  : #5687a8;
$brown      : #D1802E;
$lime-green : #32CD32;

@mixin button-style {
  padding: 5px 8px;
  border-radius: 4px;
}

@mixin hover {
  &:hover {
    cursor: pointer;
  }
}
