@import 'main';

/* NOTICE MESSAGE */
.alert, .notify {
  display: none;
  width: 96%;
  margin: 20px auto 0 auto;
  padding: 10px 0 10px 20px;
  border-radius: 3px;
}

.notify {
  background-color: rgba(173,216,230, 0.3);
  border: 1px solid rgba(50,205,50, 0.6);
}

.alert {
  background-color: rgba(253,201,122, 0.4);
  border: 1px solid rgba(253,201,122, 0.7);
}

/* OVERLAY & DIALOG */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0,0,0,.8);
  display: none;
  &.active {
    display: block;
  }
}

.dialog {
  width: 85%;
  height: 85%;
  position: absolute;
  top: 7%;
  left: 7%;
  z-index: 3;
  padding: 2em 3em;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #888;
  display: none;
  &.active {
    display: block;
  }
}

.dialog {
  .close {
    font-size: 2em;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
}
