/* NAV DROP DOWN */




.menu {
  width: 100%;
  background-color: #D0E0EB;
  overflow: auto;
  color: #444;
  padding: 10px;
  > div {
    display: inline-block;
    vertical-align: middle;
  }
  .logo {
    width: 25%;
    img {
      width: 150px;
      height: 70px;
      border: 0;
    }
  }
  .location {
    width: 27%;
  }
  .profile {
    width: 30%;
    img {
      width: 45px;
      float: left;
      margin: 0 10px 0 0;
    }
    span {
      line-height: 1.4em;
    }
    a {
      font-weight: bold;
    }
    a:hover {
      color: #777;
    }
  }
  #arrow {
    width: 12%;
    margin: 12px 0 0 0;
    text-align: right;
    vertical-align: middle;
  }
  #arrow:hover {
    cursor: pointer;
  }
}

.nav {
  width: 220px;
  padding: 0px;
  text-align: right;
  background-color: #D0E0EB;
}

.nav li {
  display: block;
  padding: 8px 20px 8px 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  a {
  display: block;
  color: #444;
  text-decoration: none;
  }
}

.nav li:hover {
  background-color: #acc8dc;
}
