/* PROFILE PAGE */

.profile-edit,
.preference {
  width: 400px;
}
.social {
  width: 350px;
}

.subscription {
  width: 580px;
  margin: 0 auto 1em auto;
  line-height: 1.7em;
  :nth-child(2n+1) {
    margin-right: 40px;
  }
  input[type='submit'] {
    margin: .7em 0 0 0;
  }
  input[type='submit']:focus {
    border: 0;
  }
}

.subscription input[type='submit'],
.profile-edit input[type='submit'] {
  background-color: transparent;
  border: 0;
  font-size: 19px;
  font-family: 'Hammersmith One';
  color: #5687a8;
}

.subscription input[type='submit']:hover,
.profile-edit input[type='submit']:hover {
  background-color: transparent;
  font-family: 'Hammersmith One';
  color: limegreen;
  cursor: pointer;
}

.social {
  margin: 0 0 0 20px;
  float: left;
  a {
    color: #5687a8;
    width: 230px;
    text-decoration: none;
    text-align: left;
    font-weight: bold;
    display: block;
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 3px;
    margin: 10px 0;
  }
  a:hover {
    background-color: limegreen;
    color: #fff;
  }
  p {
    font-family: 'Oswald';
    color: #555;
  }
}

.profile-edit {
  float:left;
  margin: 0 0 0 20px;
  input[type='text'],
  input[type='password'] {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    padding: 5px 8px;
    color: #333;
  }
  label {
    width: 5em;
  }
  input[type='text']:hover,
  input[type='password']:hover,
  input[type='text']:active,
  input[type='password']:active,
  input[type='text']:focus,
  input[type='password']:focus {
    cursor: pointer;
    background-color: #fff;
    color: #5687a8 ;
  }
  input[type='submit'] {
    margin: 15px 0 0 0;
    padding: 0;
  }
}
.social, .profile-edit {
  @media (max-width: 600px) {
    margin: 0 auto;
    float: none;
  }
}
