@import 'main';

/* PROFILE PAGE */

.subscription {
  width: 580px;
  margin: 0 auto 1em auto;
  line-height: 1.7em;
  :nth-child(2n+1) {
    margin-right: 40px;
  }
  input[type='submit']:focus {
    border: 0;
  }
  overflow: auto;
}

#update-sub, #update-profile {
  margin: .5em 0;
  float: right;
  background-color: $dark-blue;
  border: 0;
  font-size: 19px;
  font-family: 'Hammersmith One';
  color: #fff;
  &:hover {
    background-color: $lime-green;
    cursor: pointer;
  }
  @include button-style;
}


.profile-edit,
.social {
  width: 350px;
}

.social {
  margin: 0 0 0 20px;
  float: left;
  a {
    color: $dark-blue;
    width: 230px;
    text-align: left;
    font-weight: bold;
    display: block;
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 3px;
    margin: 10px 0;
  }
  a:hover {
    background-color: limegreen;
    color: #fff;
  }
  p {
    font-family: 'Oswald';
    color: #555;
  }
}

.profile-edit {
  float:left;
  margin: 0;
  input[type='text'],
  input[type='password'] {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    padding: 3px 8px;
    color: #333;
  }
  label {
    width: 5em;
  }
  input[type='text']:hover,
  input[type='password']:hover,
  input[type='text']:active,
  input[type='password']:active,
  input[type='text']:focus,
  input[type='password']:focus {
    background-color: #fff;
    color: #5687a8 ;
  }
}

.social, .profile-edit {
  @media (max-width: 600px) {
    margin: 0 auto;
    float: none;
  }
}
