@import 'main';

/* PROFILE PAGE */

.subscription {
  width: 100%;
  margin: 0 0 1em 0;
  line-height: 1.7em;
  overflow: auto;
  input[type='submit']:focus {
    border: 0;
  }
  ul {
    list-style-type: none;
  }
}

.current-sub,
.publications {
  float: left;
  h4 {
    margin: 0;
    font-size: 1em;
    color: #444;
  }
  ul {
    margin: .2em 0 2em 0;
  }
}

.current-sub {
  width: 40%;
  margin: 0 3% 0 7%;
  min-height: 315px;
  ul {
    height: 100%;
  }
  .fa-times {
    margin: 0 0 0 .3em;
    @include hover;
  }
}

.publications {
  width: 40%;
  margin: 0 4% 0 0;
  .ui-draggable {
    @include hover;
  }
  i {
    margin-left: .5em;
  }
}

.categories {
  width: 75%;
  min-width: 600px;
  overflow: auto;
  margin: 0 auto 1.6em auto;
  .category {
    float: left;
    width: 12em;
  }
  h4 {
    color: $medium-blue2;
    font-size: 1.1em;
    margin: 0;
    width: 11em;
    &:hover {
      cursor: pointer;
      color: $lime-green;
    }
  }
}

h4.current { color: $lime-green; }

#update-sub {
  margin: .5em auto;
}

#update-sub, #update-profile {
  background-color: $dark-blue;
  border: 0;
  font-size: 1em;
  font-family: 'Hammersmith One';
  color: #fff;
  &:hover {
    background-color: $lime-green;
    cursor: pointer;
  }
  @include button-style;
}

#update-profile { /* positioning */
  margin: .5em 0;
  float: right;
}

.profile-edit,
.social {
  width: 70%;
  margin: 0 auto;
}

.social {
  a {
    color: $dark-blue;
    width: 14em;
    text-align: center;
    font-weight: bold;
    display: block;
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 3px;
    margin: 10px auto;
  }

  a:hover {
    background-color: limegreen;
    color: #fff;
  }
  p {
    font-family: 'Oswald';
    color: #555;
  }
}

.profile-edit {
  input {
    border: 0;
    background-color: transparent;
    font-size: 1.1em;
    padding: 3px 8px;
    color: #333;

    &:hover, &:active, &:focus {
      background-color: #fff;
      color: #5687a8;
    }
  }

  label {
    width: 5em;
  }

  form {
    padding-left: 25px;
  }

}

.social, .profile-edit {
  @media (max-width: 600px) {
    margin: 0 auto;
    float: none;
  }
}

/* SUBSCRIPTION PAGE */
