@import 'main';

/* PROFILE PAGE */

.subscription {
  width: 100%;
  margin: 0 0 1em 0;
  line-height: 1.7em;
  input[type='submit']:focus {
    border: 0;
  }
  overflow: auto;
}

.current-sub,
.categories,
.publications {
  float: left;
}

.current-sub {
  width: 30%;
  margin: 0 3% 0 0;
  min-height: 315px;
  ul {
    height: 100%;
  }
  .fa-times {
    margin: 0 0 0 .3em;
    @include hover;
  }
}

.publications {
  width: 30%;
  margin: 0 4% 0 0;
  .ui-draggable {
    @include hover;
  }
}

.categories {
  width: 25%;
  line-height: 1em;
  h4 {
    margin: .5em 0;
  }
}

.category h4 {
  color: $medium-blue2;
  &:hover {
    cursor: pointer;
  }
}

h4.current {
  color: $lime-green;
}

#update-sub {
  margin: .5em auto;
}

#update-sub, #update-profile {
  background-color: $dark-blue;
  border: 0;
  font-size: 1em;
  font-family: 'Hammersmith One';
  color: #fff;
  &:hover {
    background-color: $lime-green;
    cursor: pointer;
  }
  @include button-style;
}

#update-profile { /* positioning */
  margin: .5em 0;
  float: right;
}

.profile-edit,
.social {
  width: 350px;
}

.social {
  margin: 0 0 0 20px;
  float: left;
  a {
    color: $dark-blue;
    width: 230px;
    text-align: left;
    font-weight: bold;
    display: block;
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 3px;
    margin: 10px 0;
  }
  a:hover {
    background-color: limegreen;
    color: #fff;
  }
  p {
    font-family: 'Oswald';
    color: #555;
  }
}

.profile-edit {
  float:left;
  margin: 0;
  input[type='text'],
  input[type='password'] {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    padding: 3px 8px;
    color: #333;
  }
  label {
    width: 5em;
  }
  input[type='text']:hover,
  input[type='password']:hover,
  input[type='text']:active,
  input[type='password']:active,
  input[type='text']:focus,
  input[type='password']:focus {
    background-color: #fff;
    color: #5687a8 ;
  }
}

.social, .profile-edit {
  @media (max-width: 600px) {
    margin: 0 auto;
    float: none;
  }
}
