/* WELCOME INDEX */
@import 'main';

.form {
  width: 260px;
  margin: 30px auto;
  input {
    font-size: 16px;
    padding: 8px;
    width: 200px;
    display: block;
  }
  input[type='text'], input[type='password'] {
    margin: 10px auto;
    background-color: transparent;
    border: 0;
  }
  input[type='text']:hover, input[type='password']:hover,
  input[type='text']:active, input[type='password']:active,
  input[type='text']:focus, input[type='password']:focus {
    background-color: #fff;
  }
  input[type='submit'] {
    margin: 10px auto;
    color: #fff;
    background-color: $medium-blue;
    border: 0;
    border-radius: 3px;
  }
  input[type='submit']:hover,
  input[type='submit']:active {
    background-color: $medium-blue2;
    cursor: pointer;
  }
}

#signup:hover, #login:hover {
  cursor: pointer;
  color: limegreen;
}

.form-wrapper {
  width: 260px;
  display: block;
  margin: 6% auto 0 auto;
  text-align: center;
}

.tooltip {
  width: 400px;
  background-color: rgba(255,255,255,.9);
  position: absolute;
  z-index: 1;
  left: 15%;
  top: 17%;
  border-radius: 7px;
  @media (max-width: 600px) {
    left: 5%;
  }
}
