/* WELCOME INDEX */
@import 'main';

.form {
  width: 260px;
  margin: 30px auto;
  input {
    font-size: 1em;
    padding: 8px;
    width: 200px;
    display: block;
  }

  input[type='text'], input[type='password'] {
    margin: 10px auto;
    background-color: transparent;
    border: 0;
  }

  input:hover, input:active, input:focus {
    background-color: #fff;
  }

  input[type='submit'] {
    margin: 10px auto;
    color: #fff;
    background-color: $medium-blue;
    border: 0;
    border-radius: 3px;
    &:hover, &:active {
      background-color: $medium-blue2;
      cursor: pointer;
    }
  }
}

.form-wrapper .current {
  color: $lime-green;
}

#signup:hover, #login:hover {
  cursor: pointer;
  color: limegreen;
}

.form-wrapper {
  width: 260px;
  display: block;
  margin: 6% auto 0 auto;
  text-align: center;
}

.tooltip {
  width: 400px;
  background-color: rgba(255,255,255,.9);
  position: absolute;
  z-index: 1;
  left: 25%;
  top: 13%;
  border-radius: 7px;
  @media (max-width: 600px) {
    left: 5%;
  }
}
