/* NAV DROP DOWN */

#arrow {
  cursor: pointer;
}


.menu {
  width: 100%;
  background-color: #49708A;
  overflow: auto;
  color: #fff;
  padding: 10px;
  div {
    width: 25%;
    display: inline-block;
    float: left;
  }
  #arrow {
    text-align: right;
    width: 20%;
    margin-right: 5%;
    padding-bottom: 6px;
  }
}

.nav {
  width: 150px;
  padding: 0px;
  position: absolute;
  right: 10px;
  z-index: 1;
  margin-top: 45px;
  text-align: right;
  color: #fff;
  background-color: rgba(73, 112, 138, .7);
}


.nav li {
  display: block;
  line-height: 2em;
  padding: 10px;
  a {
  display: block;
  color: #fff;
  text-decoration: none;
  }
}

.nav li:hover {
  background-color: rgba(73, 112, 138, 1);
}

#nav {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 75px;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  padding-bottom: 50px;
  list-style: none;
  text-align: center;
  font-size: 16px;
  z-index: 1;
  margin: 0 0 3em 0;
  padding: 10px;
  list-style: none;
  font-size: 18px;
  font-family: Helvetica;
  background-color: #49708A;
}

#nav li {

  float: left;
  padding: 125 125 125 125px;
  line-height: 125%;

}

#nav li a {

    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#nav li a {
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}


a:hover {
  color: limegreen;
}

@media screen {
  #nav {
    #font-size: 14px;
  }
}

.clear {
  width: 100%;
  clear: both;
  display: block;
  height: 1px;
}


#nav li ul {

  display: none;
  width: 10em; /* Width to help Opera out */
  background-color: #49708A;
}

.form {
  width: 320px;
  margin: 30px auto;
  input[type='text'], input[type='password'] {
    width: 200px;
    display: block;
    margin: 10px auto;
    padding: 5px;
  }
  input[type='submit'] {
    width: 215px;
    display: block;
    margin: 10px auto;
    padding: 5px;
  }
}

  h3 {
    text-align: center;
    font-size: 25px;
  }

  #signup:hover, #login:hover {
    cursor: pointer;
    color: limegreen;
  }
