// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  text-align: center;
  color: white;
  background-color: #49708A;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

#nav li {
  float: left;
}

#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    border-right: 1px solid #ccc; }

#nav li a:hover {
    color: #c00;
    background-color: #fff; }




