<div class="menu">
  <div class="logo">
  <a href="/">
    <img src="/assets/logo.png" alt="">
  </a>
  </div>

  <div class='profile'>
    <% if current_reader %>
      <% if current_reader.name %>
        <div class='greetings'>Hi, <%= current_reader.name %></div>
      <% else %>
        <div class='greetings'>Hi, <%= current_reader.email %></div>
      <% end %>

      <div class='actions'>
        <a href="/feed" class='feed'>
          <i class="fa fa-list-ul"></i> Latest news
        </a> &nbsp;
        <a href="/articles" class='bookmarks'>
          <i class="fa fa-bookmark"></i> Bookmarks
        </a>
      </div>
    <% else %>
      <div class='greetings'>Hi, Reader</div>
      <div class='about'>
        <a href="/about">How it works</a>
      </div>
    <% end %>
  </div>

  <div id='expand'>
    <span class="arrow">
      Menu &nbsp; <i class="fa fa-chevron-down"></i>
    </span>
    <span class="hamburger">
      <i class="fa fa-bars"></i>
    </span>
  </div>

  <!-- Dropdown nav -->
  <ul class="nav">
  <% if current_reader %>
    <li>
      <a href="/profile" class="account">Manage Account</a>
      <i class="fa fa-check"></i>
    </li>
    <li>
      <a href="/logout">Log out</a>
    </li>
    <li>
      <a href="/about" class="about">About Leafthru</a>
      <i class="fa fa-check"></i>
    </li>
   <% else %>
    <li>
      <a href="/">Sign Up/Log in</a>
    </li>
    <li>
      <a href="/about" class="about">About Leafthru</a>
      <i class="fa fa-check"></i>
    </li>
    <% end %>
  </ul>


</div>

<script type="text/javascript">
  window.navigation = new Navigation();
</script>
