<div class="menu">
  <div>Leafthru LOGO</div>
  <div>
    <%= formatted_date_time(Time.now) %></br>
    Temperature: 72 degrees
  </div>
  <div>
    <% if current_reader %>
      <% if current_reader.name %>
        <p>Hi, <%= current_reader.name %></p>
      <% else %>
        <p>Hi, <%= current_reader.email %></p>
      <% end %> 
    <% else %>  
      <p>Hi, Reader</p>
    <% end %>     
    <p>I'm Feeling...</p>
  </div>  

  <div id='arrow'>
    <i class="fa fa-chevron-down"></i> <br/>
    Menu
  </div>

  <ul class="nav">
    <li>
        <a href="/articles">Read Later</a>
    </li>
    <%if current_reader %>
    <li>
      <a href="/profile">Edit My Profile</a>
    </li>  
    <li>
      <a href="/feed">View My News</a>
    </li>  
    <li>
      <a href="/logout">Log out</a>
    </li>
      <% end %>
  </ul>
  
</div>
