<div class="menu">
  <div class='logo'>
    <a href="/">Leafthru LOGO
    </a>
  </div>

  <div class='location'>
    <big><%= formatted_date_time(Time.now) %></big></br>
    <small>72 &deg;F, New York, NY</small>
  </div>


  <div class='profile'>
    <% if current_reader %>
      <% if current_reader.image %>
        <img src="<%= current_reader.image %>" alt="profile-image" />
      <% end %>
      <% if current_reader.name %>
        <span>Hi, <%= current_reader.name %></span>
      <% else %>
        <span>Hi, <%= current_reader.email %></span>
      <% end %>
    <% else %>
      <span>Hi, Reader</span>
    <% end %>
  </div>

  <div id='arrow'>
    Menu &nbsp; <i class="fa fa-chevron-down"></i>
  </div>

    <!--li>
      <a href="/feed">My News Feed</a>
    </li>
    <li>
        <a href="/articles">My Bookmarks</a>
    </li-->

  <ul class="nav">
  <% if current_reader %>
    <li>
        <a href="/leafers">What friends are reading</a>
    </li>
    <li>
      <a href="/profile">Edit Profile/Subscriptions</a>
    </li>
    <li>
      <a href="/about">About Leafthru</a>
    </li>
    <li>
      <a href="/logout">Log out</a>
    </li>
   <% end %>
  </ul>

</div>
