<div class="menu">
  <div class='logo'>Leafthru LOGO</div>
  <div class='location'>
    <%= formatted_date_time(Time.now) %></br>
    72 &deg;F, New York, NY 
  </div>
 

  <div class='profile'>
    <% if current_reader %>
      <% if current_reader.image %>
        <img src="<%= current_reader.image %>" alt="profile-image" />
      <% end %>    
      <% if current_reader.name %>
        <span>Hi, <%= current_reader.name %></span>
      <% else %>
        <span>Hi, <%= current_reader.email %></span>
      <% end %> 
    <% else %>  
      <span>Hi, Reader</span>
    <% end %>  
  </div>  

  <div id='arrow'>       
    Menu &nbsp; <i class="fa fa-chevron-down"></i> 
  </div>

  <ul class="nav">
    <li>
        <a href="/articles">Read Later</a>
    </li>
    <%if current_reader %>
    <li>
      <a href="/profile">Edit My Profile</a>
    </li>  
    <li>
      <a href="/feed">View My News</a>
    </li>  
    <li>
      <a href="/logout">Log out</a>
    </li>
      <% end %>
  </ul>
  
</div>
